/* General Layout */
.training-home-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Section Headings */
section h2 {
  font-size: 1.5rem;
  color: #063863;
  margin-bottom: 10px;
}

/* Dropdown Tool */
.dropdown-tool select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Tab Styles */
.tabs {
  margin-top: 20px;
}

.tab-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.tab-buttons button {
  background-color: #005a9e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

.tab-buttons button.active {
  background-color: #9C0000;
  font-weight: bold;
}

.tab-buttons button.active:hover {
  background-color: #d77777;
  font-weight: bold;
}

.tab-buttons button:hover {
  background-color: #2d7cc4;
}

.tab-content {
  margin-top: 20px;
}

.tab-content ul {
  list-style-type: none;
  padding: 0;
}

.tab-content ul li {
  margin-bottom: 10px;
}

.tab-content ul li a {
  color: #005a9e;
  text-decoration: none;
}

.tab-content ul li a:hover {
  text-decoration: underline;
}
